.tablas-container-slider {
  width: 980px;
  margin: 0 auto;
}
.main-tarjetas {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  margin: 0 auto;
}
.planes-container-slider {
  justify-content: center;
}
