:root {
  /*colores*/
  --rosa1: #f6cef5;
  --morado1: #bca9f5;
  --fondo2: #240b3b;
  --morado-tarjetas: #4b088a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(75, 8, 138, 0.3),
      rgba(75, 8, 138, 0.3)
    ),
    linear-gradient(180deg, #bca9f5 0%, rgba(220, 22, 215, 0) 100%);
}

header img {
  width: 190px;
  height: 65px;
  margin-top: 35px;
  align-self: center;
}
.header-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 30px;
  text-align: center;
  align-self: center;
  color: white;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}
.header-title p {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.83);
}
.header-button {
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 148px);
  display: block;
  padding: 15px;
  width: 300px;
  height: 48px;
  background-color: white;
  /* Sombras*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #4b088a;
}
.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
}
/* Segunda sección*/
main {
  width: 100%;
  height: auto;
  background-color: white;
}
.main-principal-momedas {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-container-texto {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-principal-momedas .image-fomndo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./img/img1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-container-texto h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  color: #848484;
}
.main-container-texto p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #848484;
}
/* Grid*/
.tablas-container-slider {
  display: flex;
  margin: 0 auto;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-container-tablas {
  margin: 0 40px;
  scroll-snap-align: center;
}
.main-container-tablas h3 {
  color: var(--rosa1);
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.contenedor-grid {
  width: 40%;
  margin: 0 auto;
  display: grid;
  gap: 8px;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(150px, 250px));
}
.contenedor-grid-item {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #848484;
}
.contenedor-grid-item img {
  margin-left: 20px;
}

.contenedor-time {
  width: 280px;
  margin: 0 auto;
  height: 45px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 8px;
  background-color: var(--rosa1);
  border-radius: 8px;
  margin-bottom: 50px;
  color: #848484;
}

.contenedor-time p {
  font-size: 12px;
  line-height: 16px;
}
/*Detalles de producto*/
.main-detalles {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--fondo2);
}
.main-logo {
  display: inline-block;
  width: 96px;
  height: 96px;
  background: url(./img/logo2.png) no-repeat center/cover;
  position: relative;
  top: -60px;
  left: calc(50% - 45px);
}
.main-productos-titulos {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.main-productos-titulos h2 {
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}
.main-productos-titulos p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: white;
}

/*Estilos tarjetas*/
.main-tarjetas-detalles {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 20px auto;
  padding: 15px;
  background-color: var(--morado-tarjetas);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.icono-reloj {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url(./img/reloj.svg);
  background-size: cover;
  background-position: center;
}

.icono-ojo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url(./img/ojo.svg);
  background-size: cover;
  background-position: center;
}
.icono-dinero {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url(./img/pesos.svg);
  background-size: cover;
  background-position: center;
}
.icono-palomita {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url(./img/cheek.svg);
  background-size: cover;
  background-position: center;
}
.tarjetas-titulo {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: var(--morado1);
}
.tarjetas-descripcion {
  font-size: 14px;
  color: var(--morado1);
}
.container-image {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("./img/portada2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
}
.container-image h2 {
  padding-top: 80px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  color: white;
}

/*Sección de planes*/
.main-cont-planes {
  width: 100%;
  min-height: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.planes-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
.planes-title h2 {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.planes-title p {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
/* container-slider */
.planes-container-slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
/*Sección de planes*/
.planes-card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 230px;
  margin: 30px 15px;
  padding: 0 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 0, 0.16);
}
.recomendado {
  position: absolute;
  width: 120px;
  height: 32px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 12px;
  padding: 8px;
  background-color: var(--morado1);
  border-radius: 8px;
  color: white;
}
.plan-info-title {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.pan-info-precio {
  padding: 5px 0;
  font-size: 53px;
  font-weight: bold;
}
.pan-info-precio span {
  font-size: 15px;
  font-weight: 300;
  vertical-align: 25px;
}
.plan-info-ahorro {
  font-size: 12px;
  color: #848484;
}
.plan-info-ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--morado1);
  border: 2px solid #9f81f7;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: "DM Sans", sans-serif;
  padding: 15px 0;
}
.plan-info-ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./img/flecha.png);
  background-repeat: no-repeat;
  vertical-align: -13px;
  margin-left: 10px;
}
footer {
  display: flex;
  width: 100%;
  height: 125px;
  background-color: var(--morado1);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.izquierda ul {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
}
.izquierda li {
  margin: 10px 0;
}
.izquierda a {
  text-decoration: none;
  color: white;
}
